#home
  %section.hero
    .hero-body.is-info.is-medium.pattern-diagonal-stripes-xl
      .container
        %h1.title
          NFL Rushing

        %h2.subtitle
          Don't let your dreams be dreams. Just do it!

        .buttons
          %a.button.is-primary.is-medium Register

  #app
